span.w {
  color:rgb(57, 57, 189)
}

{
  color: rgb(131, 216, 173);
}
img{
  float: left;
  height: auto;
  width: 150px;
  margin: 15px;

}
img.plane{
  float: right;
  height:auto;
  width:150px;
  margin:5px;
}
/* .sidebar{
  width: 5%;
  float: left;
  margin: 20px;
  padding:20px;
  height: 100%;
} */