span.w {
  color:rgb(57, 57, 189)
}

{
  color: rgb(131, 216, 173);
}
img {
  float: left;
  height: auto;
  width: 150px;
  margin: 15px;

}
img.plane {
  float: right;
  height:auto;
  width:150px;
  margin:5px;
} 
ul.sidebar {
  margin: 0;
  padding: 10px;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}





